@model ViewmMODeElMASTER
@{
    ViewData["Title"] = ResourceWeb.LBAddEditSliderHomeConten;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12 col-xs-12">
    <div class="box-content">
        <ul class="list-inline">
            <li class="margin-bottom-10"><a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWeb.LBAddEditSliderHomeConten</button></a></li>/
            <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a></li>/
            <li class="margin-bottom-10"><a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a></li>


            <span style="color:royalblue"> <strong>@TempData["Saved successfullyl"]</strong></span>
            <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
        </ul>
        <div class="row small-spacing">
            <div class="col-lg-6 col-xs-12">
                <div class="box-content card white">
                    <h4 class="box-title">@ResourceWeb.LBAddEditSliderHomeConten</h4>
                    <!-- /.box-title -->



                    <div class="card-content">
                        <form role="form" method="post" asp-controller="SliderHomeContent" asp-action="Save" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.SliderHomeConten.DataEntry" class="form-control" value="@User.Identity.Name">
                                <input type="hidden" asp-for="@Model.SliderHomeConten.IdSliderHomeContent" class="form-control">
                                <input type="hidden" asp-for="@Model.SliderHomeConten.DateTimeEntry" value="@DateTime.Now">
                                <input type="hidden" asp-for="@Model.returnUrl" id="url">
                                <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
                                <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.NekName" for="exampleInputEmail1">@ResourceWeb.LbNekName</label>
                                        <input asp-for="@Model.SliderHomeConten.NekName" type="text" placeholder="@ResourceWeb.LbNekName ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.NekName" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelOneAr" for="exampleInputEmail1">@ResourceWeb.LbTitelOneAr</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelOneAr" type="text" placeholder="@ResourceWeb.LbTitelOneAr ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelOneAr" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelOneEn" for="exampleInputEmail1">@ResourceWeb.LbTitelOneEn</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelOneEn" type="text" placeholder="@ResourceWeb.LbTitelOneEn ...." class="form-control">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelOneEn" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelOneKr1" for="exampleInputEmail1">@ResourceWeb.LbTitelOneKr1</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelOneKr1" type="text" placeholder="@ResourceWeb.LbTitelOneKr1 ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelOneKr1" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelOneKr2" for="exampleInputEmail1">@ResourceWeb.LbTitelOneKr2</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelOneKr2" type="text" placeholder="@ResourceWeb.LbTitelOneKr2 ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelOneKr2" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelTwoAr" for="exampleInputEmail1">@ResourceWeb.LbTitelTwoAr</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelTwoAr" type="text" placeholder="@ResourceWeb.LbTitelTwoAr ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelTwoAr" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        

                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelTwoEn" for="exampleInputEmail1">@ResourceWeb.LbTitelTwoEn</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelTwoEn" type="text" placeholder="@ResourceWeb.LbTitelTwoEn ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelTwoEn" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelTwoKr1" for="exampleInputEmail1">@ResourceWeb.LbTitelTwoKr1</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelTwoKr1" type="text" placeholder="@ResourceWeb.LbTitelTwoKr1 ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelTwoKr1" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelTwoKr2" for="exampleInputEmail1">@ResourceWeb.LbTitelTwoKr2</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelTwoKr2" type="text" placeholder="@ResourceWeb.LbTitelTwoKr2 ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelTwoKr2" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelThreeAr" for="exampleInputEmail1">@ResourceWeb.LbTitelThreeAr</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelThreeAr" type="text" placeholder="@ResourceWeb.LbTitelThreeAr...." class="form-control" maxlength="150" >
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelThreeAr" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelThreeEn" for="exampleInputEmail1">@ResourceWeb.LbTitelThreeEn</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelThreeEn" type="text" placeholder="@ResourceWeb.LbTitelThreeEn ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelThreeEn" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelThreeKr1" for="exampleInputEmail1">@ResourceWeb.LbTitelThreeKr1</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelThreeKr1" type="text" placeholder="@ResourceWeb.LbTitelThreeKr1...." class="form-control" maxlength="150" >
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelThreeKr1" class="text-danger"></span>

                                    </div>
                                </div>
                            </div> 
                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitelThreeKr2" for="exampleInputEmail1">@ResourceWeb.LbTitelThreeKr2</label>
                                        <input asp-for="@Model.SliderHomeConten.TitelThreeKr2" type="text" placeholder="@ResourceWeb.LbTitelThreeKr2 ...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.TitelThreeKr2" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.FirstDescriptionAr" for="exampleInputEmail1">@ResourceWeb.LbFirstDescriptionAr</label>
                                        <textarea asp-for="@Model.SliderHomeConten.FirstDescriptionAr" type="text" placeholder="@ResourceWeb.LbFirstDescriptionAr...." class="form-control" maxlength="1500" rows="8"></textarea>
                                        <span asp-validation-for="@Model.SliderHomeConten.FirstDescriptionAr" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.FirstDescriptionEN" for="exampleInputEmail1">@ResourceWeb.LbFirstDescriptionEn</label>
                                        <textarea asp-for="@Model.SliderHomeConten.FirstDescriptionEN" type="text" placeholder="@ResourceWeb.LbFirstDescriptionEn...." class="form-control" maxlength="1500" rows="8"></textarea>
                                        <span asp-validation-for="@Model.SliderHomeConten.FirstDescriptionEN" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.FirstDescriptionKr1" for="exampleInputEmail1">@ResourceWeb.LbFirstDescriptionKr1</label>
                                        <textarea asp-for="@Model.SliderHomeConten.FirstDescriptionKr1" type="text" placeholder="@ResourceWeb.LbFirstDescriptionKr1...." class="form-control" maxlength="1500" rows="8"></textarea>
                                        <span asp-validation-for="@Model.SliderHomeConten.FirstDescriptionKr1" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.FirstDescriptionKr2" for="exampleInputEmail1">@ResourceWeb.LbFirstDescriptionKr2</label>
                                        <textarea asp-for="@Model.SliderHomeConten.FirstDescriptionKr2" type="text" placeholder="@ResourceWeb.LbFirstDescriptionKr2...." class="form-control" maxlength="1500" rows="8"></textarea>
                                        <span asp-validation-for="@Model.SliderHomeConten.FirstDescriptionKr2" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitleButtonAr" for="exampleInputEmail1">@ResourceWeb.LbTitleButtonAr</label>
                                        <input asp-for="@Model.SliderHomeConten.TitleButtonAr" type="text" placeholder="@ResourceWeb.LbTitleButtonAr...." class="form-control" maxlength="150" >
                                        <span asp-validation-for="@Model.SliderHomeConten.TitleButtonAr" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitleButtonEn" for="exampleInputEmail1">@ResourceWeb.LbTitleButtonEn</label>
                                        <input asp-for="@Model.SliderHomeConten.TitleButtonEn" type="text" placeholder="@ResourceWeb.LbTitleButtonEn...." class="form-control" maxlength="150" >
                                        <span asp-validation-for="@Model.SliderHomeConten.TitleButtonEn" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitleButtonKr1" for="exampleInputEmail1">@ResourceWeb.LbTitleButtonKr1</label>
                                        <input asp-for="@Model.SliderHomeConten.TitleButtonKr1" type="text" placeholder="@ResourceWeb.LbTitleButtonKr1...." class="form-control" maxlength="150" >
                                        <span asp-validation-for="@Model.SliderHomeConten.TitleButtonKr1" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">

                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.TitleButtonKr2" for="exampleInputEmail1">@ResourceWeb.LbTitleButtonKr2</label>
                                        <input asp-for="@Model.SliderHomeConten.TitleButtonKr2" type="text" placeholder="@ResourceWeb.LbTitleButtonKr2...." class="form-control" maxlength="150" >
                                        <span asp-validation-for="@Model.SliderHomeConten.TitleButtonKr2" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.UrlButtonAr" for="exampleInputEmail1">@ResourceWeb.LbUrlButtonAr</label>
                                        <input asp-for="@Model.SliderHomeConten.UrlButtonAr" type="text" placeholder="@ResourceWeb.LbUrlButtonAr...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.UrlButtonAr" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.UrlButtonEn" for="exampleInputEmail1">@ResourceWeb.LbUrlButtonEn</label>
                                        <input asp-for="@Model.SliderHomeConten.UrlButtonEn" type="text" placeholder="@ResourceWeb.LbUrlButtonEn...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.UrlButtonEn" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.UrlButtonKr1" for="exampleInputEmail1">@ResourceWeb.LbUrlButtonKr1</label>
                                        <input asp-for="@Model.SliderHomeConten.UrlButtonKr1" type="text" placeholder="@ResourceWeb.LbUrlButtonKr1...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.UrlButtonKr1" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.UrlButtonKr2" for="exampleInputEmail1">@ResourceWeb.LbUrlButtonKr2</label>
                                        <input asp-for="@Model.SliderHomeConten.UrlButtonKr2" type="text" placeholder="@ResourceWeb.LbUrlButtonKr2...." class="form-control" maxlength="150">
                                        <span asp-validation-for="@Model.SliderHomeConten.UrlButtonKr2" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.SliderHomeConten.UrlYoutubeButton" for="exampleInputEmail1">@ResourceWeb.LbUrlYoutubeButton</label>
                                        <input asp-for="@Model.SliderHomeConten.UrlYoutubeButton" type="text" placeholder="@ResourceWeb.LbUrlYoutubeButton...." class="form-control" maxlength="500">
                                        <span asp-validation-for="@Model.SliderHomeConten.UrlYoutubeButton" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <p><input type="file" accept="image/*" name="Files" id="file" onchange="loadFile(event)" style="display: none;"></p>
                                <p><label class="btn btn-violet btn-rounded btn-bordered waves-effect waves-light" for="file" style="cursor: pointer;" name="Files">@ResourceWeb.LBUpload_image</label></p>
                                <p><img id="output" width="450" height="300" /></p>
                                <span style="color:red"><strong>@TempData["Message"]</strong></span>
                            </div>

                            <div class="checkbox margin-bottom-20">
                                <div class="switch success"><input type="checkbox" asp-for="@Model.SliderHomeConten.CurrentState" id="switch-10" checked="checked"><label for="switch-10">@ResourceWeb.lbCurrentState</label></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWeb.lbSave</button>
                        </form>
                    </div>
                    <!-- /.card-content -->
                </div>
                <!-- /.box-content -->
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="box-content card white">
                    <h4 class="box-title">@ResourceWeb.lbOldeAndUserGide</h4>
                    <!-- /.box-title -->
                    <div class="card-content">
                        <div class="form-group">
                            <img src="~/images/user gide/SliderHomeConten.png" width="1920" height="1077" />
                        </div>
                    </div>
                    <!-- /.card-content -->
                </div>
                <!-- /.box-content -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-content -->
</div>

@section Scripts {
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script>
        $("#url").val(window.location.href);
    </script>
}

